body{
    margin: 0px;
}

ul {
    margin: 0px;
    list-style-type: none;
    display:flex;
}
a {
    text-decoration: none;
    color: #E5E7Eb;
}

li {
    padding: 8px;
    font-size: 18px;
    color: #E5E7Eb;
    
}
button{
    color: #E5E7Eb;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 4px 26px;
}
.header,
.footer,
.sectionone {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    
}
.header {
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 32px;
    flex-direction: row;
    
}
.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}
.sectionone{
    padding: 20px 300px;
}
.sectiononecontent{
    display:flex;
    justify-content: space-between;
    padding-top: 40px;
}
.sectiononeleft{
    max-width: 40%;
    padding: 30px;
}
.sectiononetitle {
    font-size: 48px;   
    font-weight: bolder;
    color: #f9faf8;
}
.sectiononetext{
    font-size: 18px;
    color: #E5E7Eb;
    margin: 5px 0px;
}
.sectiononeimage{
    background-color: #e5e7eb6e;
    justify-content: center;
    align-items: center;
    display:flex;
    color: #E5E7Eb;
    padding: 80px 120px;
}

.sectiontwotitle{
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: #1f2037;
    padding: 20px 0px;
}
.img{
    border-style: solid;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border-color: #3882F6;
}
.images {
    display: flex;
    justify-content: center;
}
.imgcontainer{
    display: flex;
    max-width: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.imgtext{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width:120px;
}
.sectionthree {
    background-color: #E5E7Eb;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;

}
.quote{
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    width: 50%;
    margin: 60px 20px 0px
}
.author {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    color: #1F2937;
    font-style: bold;
    width: 50%;
    margin: 20px 20px 20px
}
.sectionfour{
    display: flex;
    justify-content: center;
    color: white;
}
.bluebox{
    background-color: #3882F6;
    width: 50%;
    margin: 100px;
    padding: 50px;
    border-radius: 8px;

}
.sectionfourcall{
    font-size: 22px;
    font-weight: bold;
}
.copyright{
    color: white;
    padding: 20px;
    text-align: center;
}